.conteiner{
	position: relative;
	width: 60vh;
	height: 60vh;
	background: #FAF0E6;
	left: 50%;
	top: 50px;
	transform: translate(-50%);
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
    padding: 1rem;
    opacity: 0.99;
}

.conteiner2{
	position: relative;
	width: 60vh;
	height: 83vh;
	background: #FAF0E6;
	left: 50%;
	top: 20px;
	transform: translate(-50%);
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
    padding: 1rem;
    opacity: 0.99;
}

.bott{
	border-radius: 30px;
}

.input{
	background: #FAF0E6;
	border-top-color: #FAF0E6;
	border-left-color: #FAF0E6;
	border-right-color: #FAF0E6;
}
